*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color-bg: #A0D7FF;
  --secondary-color-bg: #109DFF;
  --light-dark-bg: #303136;
  --primary-color-fg: #29A8FF;
}

body {
  background-color: var(--primary-color-bg);
  font-family: 'Roboto', sans-serif;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.header > h1 {
  text-shadow: #eee 5px 5px 2px;
}

.container {
  width: 80%;
  margin: auto;
}

.pic-container {
  margin-top: 2rem;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  background-color: rgba(238, 238, 238, 0.3);
  backdrop-filter: blur(20px);
  width: 40%;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: #555 -5px 5px 10px -5px;
  position: relative;
  cursor: pointer;
}

.card-header {
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #aaa;
  height: min-content;
  color: #333;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.home-calcimage {
  width: 100%;
  height: 400px;
}

.btn {
  text-decoration: none;
  outline: none;
  background-color: var(--secondary-color-bg);
  width: fit-content;
  min-width: 5rem;
  align-self: center;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.circle {
  position: absolute;
  --size: 350px;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: var(--secondary-color-bg);
  z-index: -1;
}

@media screen and (max-width: 950px) {
  .card-container {
    flex-direction: column;
    gap: 2.5rem;
  }

  .card {
    width: 100%;
  } 
}

.calc-container {
  position: absolute;
  background-color: black;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1rem;
  user-select: none;
}

.calc-btns-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.calc-btn {
  border: none;
  outline: none;
  text-decoration: none;
  background-color: var(--light-dark-bg);
  color: var(--primary-color-fg);
  font-size: 1.2rem;
  padding: 1.2rem;
  display: grid;
  place-items: center;
  place-content: center;
  cursor: pointer;
  border-radius: 1rem;
}

.calc-btn.operator {
  background-color: #005DB2;
  color: #339DFF;
}

.calc-btn.fn {
  color: #A5A5A5;
  background-color: #616161;
}

.calc-btn.two-row {
  grid-row: span 2 / auto;
}

.calc-btn.two-col {
  grid-column: span 2 / auto;
}

.calc-btn.four-col {
  grid-column: span 4 / auto;
}

.calc-btn.clipboard {
  background-color: #1991FF;
  color: #B2DAFF;
  display: flex;
}

.calc-btn.equal {
  background-color: #1991FF;
  color: #B2DAFF;
}

.results-container {
  color: white;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.results-container > .main-result {
  font-size: 3rem;
  white-space: initial;
  word-wrap: break-word;
}

.results-container > .sub-result {
  color: #818181;
}

.functions-container {
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 1rem;
  min-width: 40rem;
}

.functions-header {
  text-align: center;
}

.controls-container {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.controls-container > select {
  outline: none;
  font-size: 1.2rem;
  min-width: 5rem;
  padding: 0.5rem;
}

.controls-container > input {
  width: 100%;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
}

.functions-results-container {
  margin-top: 1rem;
  color: black;
  text-align: center;
  font-size: 1.8rem;
}

.functions-copypaste-btns {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calc-btn.equal.copy {
  color: white;
}

@media screen and (max-width: 600px) {
  .functions-container > .controls-container {
    flex-direction: column;
    gap: 1rem;
  }

  .functions-container > .controls-container > input {
    width: 60%;
  }

  .functions-copypaste-btns {
    flex-direction: column;
    gap: 1rem;
  }

  .functions-container .calc-btn {
    width: 60%;
  }
}

.quad-container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 3rem 1rem;
  border-radius: 0.8rem;
}

.quad-container > header {
  border-bottom: 1px solid black;
}

.quad-container .equation-input {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  font-size: 1.4rem;
}

.equation-input .operator {
  font-size: 1.2rem;
  display: grid;
  place-items: center;
}

.square, .linear, .constant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.equation-input  input {
  display: inline;
  border: none;
  outline: 2px solid black;
  --size: 40px;
  width: var(--size);
  height: calc(var(--size) / 2);
  font-size: 1.2rem;
  margin-right: 0.4rem;
}

.equation-input input::-webkit-inner-spin-button, .equation-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.equation-input input[type=number] {
  -moz-appearance: textfield;
}

.quadres-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.alpha, .beta {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}